html, body {
    height: 100%;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.buttons-row-container {
    display: flex;
}

#calculator, #buttons-container {
    display: flex;
    flex-direction: column;
}

