html, body {
    height: 100%;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    
}

button {
    font-size: 2vh;
    height: 10vh;
    width: 10vh;
}

.buttons-row-container {
    display: flex;
}

#calculator, #buttons-container {
    display: flex;
    flex-direction: column;
}

